#!/bin/bash

#----- IMPORTANT -----#
# Replace the Configuration Placeholders with actual values (provided by me (Team Lead) and/or neon db website)

# Might need to set execution perms before running script:
#   chmod +x setup_env.sh

# To run script, from root:
#   source set_env.sh

# To run backend, from root:
#   cd backend/ && ./mvnw spring-boot:run 
#----- IMPORTANT -----#

# Neon PostgreSQL Database Configuration
DB_URL='jdbc:postgresql:string'
DB_USERNAME=db_user
DB_PASSWORD=db_pass

# JWT Configuration for authentication
JWT_SECRET=secret
# JWT Access Expiration: 30 minutes
JWT_ACCESS_TOKEN_EXPIRATION=access_expiration
# JWT Refresh Expiration: 14 days
JWT_REFRESH_TOKEN_EXPIRATION=refresh_expiration

# Check and save operating system (Darwin (Mac) or Linux or NT... (New Technology Windows))
OS=$(uname -s)

if [[ "$OS" == "Linux" ]] || [[ "$OS" == "Darwin" ]]; then
    echo "Detected macOS/Linux. Using 'export'..."
    export DATABASE_URL="$DB_URL"
    export DATABASE_USERNAME="$DB_USERNAME"
    export DATABASE_PASSWORD="$DB_PASSWORD"
    export JWT_SECRET="$JWT_SECRET"
    export JWT_ACCESS_TOKEN_EXPIRATION="$JWT_ACCESS_TOKEN_EXPIRATION"
    export JWT_REFRESH_TOKEN_EXPIRATION="$JWT_REFRESH_TOKEN_EXPIRATION"
    
    echo "DATABASE_URL is: $DB_URL"
    echo "DATABASE_USERNAME is: $DB_USERNAME"
    echo "DATABASE_PASSWORD is: $DB_PASSWORD"
    echo "JWT_SECRET is: Na04FW7TJzOq9rAnDFHGQeR78rhMBGuiatUoI+00lRc="
    echo "JWT_ACCESS_TOKEN_EXPIRATION is: 1800000"
    echo "JWT_REFRESH_TOKEN_EXPIRATION is: 1209600000"
    
elif [[ "$OS" == *'NT'* ]]; then
    echo "Detected Windows (Git Bash). Using 'set'..."
    set DATABASE_URL="$DB_URL"
    set DATABASE_USERNAME="$DB_USERNAME"
    set DATABASE_PASSWORD="$DB_PASSWORD"
    set JWT_SECRET="$JWT_SECRET"
    set JWT_ACCESS_TOKEN_EXPIRATION="$JWT_ACCESS_TOKEN_EXPIRATION"
    set JWT_REFRESH_TOKEN_EXPIRATION="$JWT_REFRESH_TOKEN_EXPIRATION"
    
    echo "DATABASE_URL is: $DATABASE_URL"
    echo "DATABASE_USERNAME is: $DATABASE_USERNAME"
    echo "DATABASE_PASSWORD is: $DATABASE_PASSWORD"
    echo "JWT_SECRET is: Na04FW7TJzOq9rAnDFHGQeR78rhMBGuiatUoI+00lRc="
    echo "JWT_ACCESS_TOKEN_EXPIRATION is: 1800000"
    echo "JWT_REFRESH_TOKEN_EXPIRATION is: 1209600000"

else
    echo "IDK what wonky system this is... please set variables manually."
    echo "For Windows Command Prompt, use: set DATABASE_URL=..."
    echo "For Mac/Linux, use: export DATABASE_URL=..."
fi